= render CardComponent.new do |component|
  - component.slot :header, title: '<%= plural_table_name.titleize %>'

  - component.slot :button, classes: 'group', icon: 'fas fa-plus transform duration-300 group-hover:scale-125', text: 'New'

  - <%= plural_table_name %>.each do |<%= singular_table_name %>|
    - component.slot :row do
      span <%= singular_table_name %> #{<%= singular_table_name %>.id}
